*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.main{
    width:100%;
    height:100vh;
    background-image: url("C:\\Users\\BHANU\\Desktop\\html\\images\\background2.png");
    background-position: center;
    background-size: cover;
    overflow:hidden;
    position: relative;
}
.logo{
    width:100px;
    cursor:pointer;
}
.up{
    width:85%;
    height:15%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
input{
    color:hsl(210, 33%, 99%);
    padding:10px 25px;
    background:transparent;
    border:1px solid #fff;
    border-radius: 20px;
    outline:none;
    cursor:pointer;

}
.content{
    color:#fbfcfd;
    position:absolute;
    top:50%;
    left:8%;
    transform:translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    line-height: 80px;
}
.side{
    width:4%;
    height:100vh;
    background:rgb(12, 70, 78);
    position:absolute;
    top:0;
    right:0;
}
.menu{
    display:block;
    width:25px;
    margin:40px auto 0;
    cursor:pointer;
}
.sociallinks img,.usefullinks img{
    width:25px;
    margin:5px auto;
    display:flex;
    cursor:pointer;
}
.sociallinks{
    width:50px;
    text-align: center;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.usefullinks{
    width:50px;
    text-align: center;
    position:absolute;
    bottom:4%;
    transform: translateY(-50%);
}
.bubbles img{
    width:45px;
    animation:bubble 5s linear infinite;
}
.bubbles{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom:-50px;
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateY(-80vh);
        opacity:0;
    }
    
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width:20px;
}
.bubbles img:nth-child(2){
    animation-delay: 5s;
    width:45px;
}
.bubbles img:nth-child(3){
    animation-delay: 9s;
    width:15px;
}
.bubbles img:nth-child(4){
    animation-delay: 6s;
    width:35px;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
    width:20px;
}
.bubbles img:nth-child(6){
    animation-delay: 8s;
    width:30px;
}
.bubbles img:nth-child(7){
    animation-delay: 3s;
    width:28px;
}