*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.main{
    width:100%;
    height:100vh;
    background:#edf2fc;
    position: relative;

}
nav{
    width:90%;
    margin:auto;
    padding:20px 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
width:100px;
cursor:pointer;
}
nav ul li{
    display:inline-block;
    margin:20px 10px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color:rgb(98, 15, 158);
    font-weight: larger;

}
nav ul li a:hover{
    text-decoration: none;
    color:rgb(230, 26, 26);
   }
   .info{
       margin-top: 15%;
       margin-left: 8%;
   }
 .info  h1{
     font-size:70px;
     margin-bottom: 20px;

   }

   span{
       color:rgb(231, 57, 57);
   }
   .info p{
       line-height: 20px;
   }
   .info a{
       background:black;
       color:whitesmoke;
       text-decoration: none;
       padding:10px 20px;
       display:inline-block;
       margin:30px 0;
       border-radius:5px;
   }
   .info a:hover{
       color:tomato;
       cursor:pointer;
   }
   .imgbox{
       width:45%;
       height:80%;
       position: absolute;
       bottom:0;
       right:100px;
   }
   .imgbox img{
       height:100%;
       position: absolute;
       left:50%;
       bottom:0;
       cursor:pointer;
       transform: translateX(-50%);
       transition:bottom 1s left 1s;
   }
 .imgbox:hover .back {
       bottom:40px;
       cursor:pointer;
 }
 .imgbox:hover .front{
     left:55%;
 }
 .links{
     margin-left: 8%;
     margin-bottom:15px;
 }
 .links a img{
     font-size:30px;
     width:20px;
     padding:10px;
     border-radius: 8px;
      background:black;

 }
 .links a img:hover{
     background:rgb(207, 53, 26);
 }